process {
  executor='pbs'
  queue='workq'
  clusterOptions = '-P berger_common'
  
  $sortBam {
    module = 'SAMtools/1.3.1-foss-2016a'
	}

  $generateFastq {
   module = 'BEDTools/v2.17.0-goolf-1.4.10'
   time = '5h'
  }
  $bam2fastq {
     module = 'SAMtools/1.3.1-foss-2016a'
   }

   $kallistoIndex {
     module = 'kallisto/0.42.4-linux-x86_64'
   }

   $quantKallisto {
     module = 'kallisto/0.42.4-linux-x86_64'
     memory = '62 GB'   }


   $STARindex {
     module = 'STAR/2.5.2a-foss-2016b' 
     time = '5h'
     memory ='62 GB'  
   }
   $sam2bam {
     module = 'SAMtools/1.4-foss-2016b'
     time = '5h'
     memory = '62 GB'
   }
   $bam2bw {
     module = 'deepTools/2.2.4-foss-2015a-Python-2.7.9:SAMtools/1.4-foss-2016b'
     memory = '62 GB' 
   }   

   $STAR {
    module = 'STAR/2.5.2a-foss-2016b'
  }
   $deseq2 {
    module = 'R/3.3.1-foss-2016b'
  }
   $kallistoCountMatrix{
	module = 'R/3.3.1-foss-2016b'
}
   $starCountMatrix{
module = 'R/3.3.1-foss-2016b'
}
   $bigWig {
    module = 'deepTools/2.5.0.1-foss-2016b-Python-3.5.2'
  }
 $STAR_log{
	module = 'R/3.3.1-foss-2016b'
}

} 
