includeConfig 'conf/base.config'

manifest {
    homePage = 'https://github.com/Gregor-Mendel-Institute/rna-seq-kallisto1'
    name = 'rna-seq-kallisto1'
    mainScript = 'rna_seq1.nf'
}

profiles {
    standard {
        includeConfig 'conf/cbe.config'
        process.module = 'singularity/3.2.1'
        singularity.enabled = true
        process.container = 'docker.artifactory.imp.ac.at/becker/rna-seq-kallisto1:containerize'
    }
    conda {
        includeConfig 'conf/cbe.config'
        process.module = 'anaconda/2019.03'
        process.conda = "$baseDir/environment.yaml" 
    }
}