process {
  errorStrategy = 'retry'   
  
   withName: report {
   }

   withName: sortBam {
   }

   withName: generateFastq {
   	    time = { 5.h * task.attempt }
   }

   withName: kallistoIndex {
   }

   withName: quantKallisto {
    	 memory = '62 GB' 
   }

   withName: STARindex {
     	time = { 5.h * task.attempt }
    	memory = '62 GB'  
   }
   
   withName: bam2bw {
     	memory = '62 GB' 
   }   

   withName: STAR {
	    time = { 5.h * task.attempt }
	    memory = '62 GB'
   }

   withName: deseq2 {
   	    time = { 5.h * task.attempt }
	    memory = '62 GB'	
   }

   withName: kallistoCountMatrix {
   }
  
   withName: starCountMatrix {
   }
	
   withName: STAR_log {
   }
}